mixin staffMember(url, name, role)
	.tile 
		img(src!=url)
		h1= name
		h2= role

section#contact
	h1 Contact our staff
	.row-container
		div
			each avatar in staffAvatars
				img(src=avatar)
		div= staffNames
		div= staffRoles
